@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

a {
  text-decoration: none;
}

body {
  background: #e5e5e5;
  font-family: 'inter';
}

.header {
  background: #003580;
  padding: 13px 0px;
}

.container {
  max-width: 942px;
  margin: 0 auto;
}

.menu__item {
  display: inline-block;
}

.menu__item a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.menu__item+.menu__item {
  margin-left: 16px;
}

.bookPage_description {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 25px;
  margin-top: 36px;
}

.bookPage__bookImg {
  border-radius: 8px;
  width: calc(100% - 20px);
}

.bookPage_description {
  display: flex;
}

.bookPage__left {
  width: 290px;
}

.bookPage__title {
  color: #2b2b2b;
  font-weight: 600;
  font-size: 32px;
}

.bookPage__reviews__num {
  color: #000;
  margin-left: 8px;
  font: 600px;
  font-size: 16px;
}

.bookPage__reviews {
  display: flex;
  align-items: center;
}

.bookPage__reviews__reviewCounter {
  font-size: 16px;
  margin-left: 28px;
  color: #666;
  font-weight: 400;
}

.bookPage__reviews {
  margin-top: 11px;
}

.bookPage__bookInfo__item {
  font-size: 16px;
}

.bookPage__bookInfo__item .value {
  font-weight: 400;
  color: #2B2B2B;
}

.bookPage__bookInfo__item+.bookPage__bookInfo__item {
  margin-top: 11px;
}

.bookPage__bookInfo {
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
}

.bookPage__right {
  position: relative;
  width: 100%;
}

.bookPage__infoFooter {
  position: absolute;
  bottom: 0;
}

.bookPage__price {
  font-weight: 500;
  font-size: 32px;
}

.bookPage__discription {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #2b2b2b;
}

.booksPage__item {
  position: relative;
  padding: 32px;
  display: flex;
  background: #fff;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.booksPage__item+.booksPage__item {
  margin-top: 25px;
}

.booksPage__left {
  width: 120px;
}

.booksPage__bookImg {
  width: 100%;
  border-radius: 8px;
}

.booksPage {
  margin-top: 50px;
}

.booksPage__title {
  color: #2b2b2b;
  font-weight: 600;
  font-size: 24px;
}

.booksPage__right {
  margin-left: 30px;
}

.booksPage__author {
  margin-top: 21px;
  color: #2b2b2b;
}

.bookPage__reviews__price {
  color: #000;
  position: absolute;
  bottom: 31px;
  font-weight: 500;
  font-size: 24px;
}

.authorsList {
  margin-top: 50px;
}

.author__item {
  display: flex;
}

.author__item {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
}

.author__item__left {
  width: 220px;
}

.author__item__authorImg {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  height: 200px;
}

.author__item__right {
  margin-left: 25px;
  width: 100%;
}

.author__item__name {
  font-size: 32px;
  color: #2b2b2b;
  font-weight: 600;
}

.bookPage__bookInfo__item {
  margin-top: 11px;
  width: 33%;
}

.bookPage__bookInfo__bookCounter {
  margin-top: 27px;
  color: #666;
  font-weight: 16;
}

.author__item+.author__item {
  margin-top: 15px;
}

.author {
  margin-top: 32px;
  background: #fff;
  padding: 30px 20px;
  border-radius: 8px;
}

.author__left__img {
  width: 100%;
}

.author__left {
  width: 300px;
}

.author__name {
  color: #2b2b2b;
}

.author__mainInfoWrapper {
  display: flex;
}

.author__right {
  margin-left: 26px;
  width: 100%;
}

.bookPage__books__title {
  margin-top: 55px;
  font-size: 24px;
}

.bookPage__books__list__item {
  margin-top: 12px;
  width: 16.6%;
  cursor: pointer;
}

.bookPage__books__list__item__photo {
  width: 100%;
  border-radius: 4px
}

.bookPage__books__list {
  display: flex;
  flex-wrap: wrap;
}

.bookPage__books__list__item+.bookPage__books__list__item {
  margin-left: 28px;
}

.author__left img {
  border-radius: 4px;
}

.bookPage__bookInfo__item span,
.bookPage__bookInfo__item a {
  display: inline-block;
}

.bookPage_comments {
  padding: 36px 24px;
  background: #fff;
  border-radius: 16px;
  margin-top: 11px;
}

.bookPage_comments__title {
  color: #2b2b2b;
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
}

.bookPage_comments_item {
  display: flex;
}

.bookPage_comments_item_left {
  width: 50px;
}

.bookPage_comments_item_right {
  margin-left: 12px;
}

.bookPage_comments_commentWrapper {
  margin-top: 50px;
}

.bookPage_comments_item_left__img {
  width: 50px;
}

.bookPage_comments_item_right__rating {
  display: flex;
  align-items: center;
}

.bookPage_comments_item_right__rating__value {
  margin-left: 12px;
}

.bookPage_comments_item+.bookPage_comments_item {
  margin-top: 48px;
}

.bookPage_comments_item_right__text {
  margin-top: 18px;
}

.bookPage_comments_item_right__name {
  font-size: 16px;
  color: #2b2b2b;
}

.bookPage_comments_item_right__rating__value {
  font-weight: 600;
  color: #2b2b2b;
}

.bookPage_comments_item_right__text {
  color: #2b2b2b;
}

.bookPage_comments__showMoreBtn {
  display: inline-block;
  margin-top: 100px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px 55px;
  background: transparent;
  font-weight: 600;
  width: fit-content;
  cursor: pointer;
}

.bookPage_comments_commentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}